<app-header></app-header> 

<div class="container-fluid bg-3 text-center">  
  <div class="row">
    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-2"> 
      <p>Welcome {{username }}! </p> 
      <p>You have {{points}}  points</p>
    </div>
    <div class="col-xs-9 col-sm-8 col-md-8 col-lg-10"> 
      <router-outlet></router-outlet>
    </div> 
  </div>
</div>  
  <!--
  <footer class="container-fluid bg-4 text-center bg-bar">
    <div> 
      <p style="font-size: 15px;"> Atlantis web   
        <a href="https://www.sdatlantis.com" >www.sdatlantis.com</a></p> 
    </div>
  </footer>

  -->