<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="user">Email</label>
                <input type="email" id="user" name="user" 
                    class="form-control" required ngModel>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" 
                    class="form-control" required ngModel minlength=4>
            </div>
            <div class="form-group" *ngIf="!isLoginMode">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" name="lastname" 
                        class="form-control" ngModel>
            </div>
            <div class="form-group" *ngIf="!isLoginMode">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" 
                        class="form-control" ngModel>
            </div>
            <div>
                <button class="btn btn-primary" type="submit"
                [disabled]="!authForm.valid" style='margin-right:16px'>
                {{isLoginMode ? 'Login' : 'Register'}}</button>     
            
               <button class="btn btn-primary" 
                type="button" style='margin-right:16px' (click)="onSwitchMode()">
                {{ isLoginMode ? 'Switch To Register' : 'Switch To Login' }}</button>
            </div>
        </form>
        {{ errMessage }}
    </div>

</div>